@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fefefe;
    --foreground: #000000;
    --card: #ffffff;
    --card-foreground: #000000;
    --primary: #fa0d13;
    --primary-foreground: #000000;
    --primary-hover: #d40b11;
    --secondary: #000000;
    --secondary-foreground: #ffffff;
    --muted: #d8d8da;
    --muted-foreground: #000000;
    --border: #d8d8da;
    --input: #d8d8da;
    --ring: #000000;
  }

  * {
    border-color: var(--border);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  /* Accessibility focus ring rule */
  *:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--ring);
  }
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
